/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/mouse.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1800  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 10    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt { tapping-term-ms = <400>; };

&mmv {
    time-to-max-speed-ms = <600>;
    acceleration-exponent = <1>;
};

/ {
    combos {
        compatible = "zmk,combos";

        COMBO_BT_CLR {
            bindings = <&bt BT_CLR>;
            key-positions = <53 28 31 54>;
            layers = <1>;
        };

        BT_SEL_0 {
            bindings = <&bt BT_SEL 0>;
            key-positions = <53 54 13>;
            timeout-ms = <500>;
            layers = <1>;
        };

        BT_SEL_1 {
            bindings = <&bt BT_SEL 1>;
            key-positions = <53 14 54>;
            timeout-ms = <500>;
            layers = <1>;
        };

        BT_SEL_2 {
            bindings = <&bt BT_SEL 2>;
            key-positions = <53 15 54>;
            timeout-ms = <500>;
            layers = <1>;
        };

        BT_SEL_3 {
            bindings = <&bt BT_SEL 3>;
            key-positions = <53 16 54>;
            timeout-ms = <500>;
            layers = <1>;
        };

        BT_SEL_4 {
            bindings = <&bt BT_SEL 4>;
            key-positions = <53 17 54>;
            timeout-ms = <500>;
            layers = <1>;
        };

        MUTE {
            bindings = <&kp C_MUTE>;
            key-positions = <46 47>;
            timeout-ms = <25>;
            layers = <2>;
        };
    };

    behaviors {
        bspcdel: bspcdel {
            compatible = "zmk,behavior-mod-morph";
            label = "BSPCDEL";
            bindings = <&kp BACKSPACE>, <&kp DELETE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mmv_t: mmv_t {
            compatible = "zmk,behavior-hold-tap";
            label = "MMV_T";
            bindings = <&mmv>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <123>;
        };

        l_gresc: l_gresc {
            compatible = "zmk,behavior-hold-tap";
            label = "L_GRESC";
            bindings = <&mo>, <&gresc>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
        };
    };

    macros {
        double_zero: double_zero {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_0 &kp NUMBER_0>;
            label = "DOUBLE_ZERO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Default {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "default";
            bindings = <
&trans  &trans              &trans  &trans  &trans    &trans                                  &trans        &trans    &trans     &trans   &trans                       &trans
&trans  &kp Q               &kp W   &kp E   &kp R     &kp T                                   &kp Y         &kp U     &kp I      &kp O    &kp P                        &trans
&trans  &mt LEFT_CONTROL A  &kp S   &kp D   &kp F     &kp G                                   &kp H         &kp J     &kp K      &kp L    &mt RIGHT_CONTROL SEMICOLON  &trans
&trans  &mt LEFT_SHIFT Z    &kp X   &kp C   &kp V     &kp B         &trans       &trans       &kp N         &kp M     &kp COMMA  &kp DOT  &mt RIGHT_SHIFT SLASH        &trans
                                    &trans  &kp LGUI  &kp LEFT_ALT  &kp SPACE    &lt 2 ENTER  &l_gresc 1 0  &bspcdel  &trans
            >;
        };

        Numeric {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "numeric";
            bindings = <
&trans  &trans            &trans         &trans  &trans    &trans                                    &trans             &trans     &trans     &trans            &trans             &trans
&trans  &kp N1            &kp N2         &kp N3  &kp N4    &kp N5                                    &kp N6             &kp N7     &kp N8     &kp N9            &kp N0             &trans
&trans  &kp LEFT_CONTROL  &kp BACKSLASH  &trans  &kp TAB   &kp LEFT_BRACKET                          &kp RIGHT_BRACKET  &kp MINUS  &kp EQUAL  &kp SLASH         &kp RIGHT_CONTROL  &trans
&trans  &kp LEFT_SHIFT    &trans         &trans  &trans    &trans            &trans       &trans     &trans             &trans     &trans     &kp SINGLE_QUOTE  &kp RIGHT_SHIFT    &trans
                                         &trans  &kp LGUI  &kp LEFT_ALT      &kp SPACE    &kp ENTER  &trans             &bspcdel   &trans
            >;
        };

        Function {
            bindings = <
&trans  &trans   &trans   &trans  &trans        &trans                             &trans                 &trans                 &trans             &trans                   &trans                  &trans
&trans  &kp F1   &kp F2   &kp F3  &kp F4        &kp F5                             &kp C_AC_BACK          &kp PG_DN              &kp PG_UP          &kp C_AC_FORWARD         &kp PSCRN               &trans
&trans  &kp F6   &kp F7   &kp F8  &kp F9        &kp F10                            &mmv_t MOVE_LEFT LEFT  &mmv_t MOVE_DOWN DOWN  &mmv_t MOVE_UP UP  &mmv_t MOVE_RIGHT RIGHT  &mt HOME RIGHT_CONTROL  &trans
&trans  &kp F11  &kp F12  &trans  &trans        &trans        &trans       &trans  &mkp LCLK              &kp C_VOL_DN           &kp C_VOL_UP       &mkp RCLK                &mt END RIGHT_SHIFT     &trans
                          &trans  &kp LEFT_GUI  &kp LEFT_ALT  &kp SPACE    &trans  &kp C_PP               &mkp MCLK              &trans
            >;

            label = "function";
        };
    };
};
